*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  height: 50vh;
  width: 50vw;
  text-align: center;
}

body{
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
